#!/usr/bin/env python
PACKAGE = "ltl_automaton_msgs"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("replan_on_unplanned_move",       bool_t,  0, "Toggles replanning when received TS state in not the expected next one in the plan", True)
gen.add("allow_repeating_state_in_plan",  bool_t,  0, "Toggles accepting or discarding received TS state if same as previously received one", False)

exit(gen.generate(PACKAGE, "ltl_automaton_msgs", "LTLAutomatonDP"))